*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
    #map { 
        height: 400px;
        background-color: rgb(239, 118, 118);
    }
    #map::before{
        content: 'Loading in Progress';
        font-size: 3em;
        text-align: center;
        width: 100%;
        position: absolute;
        margin-top: 3em;
        color: white;
    }
    .leaflet-popup-content-wrapper {
        width: 100%;
    }


    